@font-face {
    font-family: Abel;
    src: url(Abel-Regular.ttf);
}

*{margin:0px; padding:0px;}
body{font-family: 'Abel', sans-serif;}
.main-wrapper{background:url(../img/footer_bg.png) no-repeat center bottom transparent;background-size:100%; }
.dog-cat-bg{}
.clearfix{overflow:visible;}
.floatleft{float:left;}
.floatright{float:right;}
.structure{width:1000px; margin:0 auto;}
#top-header{margin-bottom:40px; }
.top-menu-area{ background-color:#e6e7e9;border-bottom:1px dashed #a1a1a1;}
.top-menu-wrapper{ }
.top-menu-area ul{float:right; margin:0px; padding:0px; height:45px; line-height:45px; }
.top-menu-area li{list-style:none; float:left;margin-left:40px;}
.top-menu-area li a{color:#9a9a9a; }
.top-menu-area li a:hover{color:#707070; }
.main-menu-area{background-color:#00aecb;	}
.main-menu-wrapper{  }
.main-menu-wrapper  ul{margin:0px; padding:0px; }
.main-menu-wrapper > ul > li {position:relative; list-style:none;float:left;padding-left:27px; height:85px; line-height:85px;}
.main-menu-wrapper > ul > li > a{color:#fff; }
.main-menu-wrapper > ul > li > a:hover{ text-decoration:none; border-bottom:3px dotted #fff;padding-bottom:5px; }
a.link-main-logo {
  background: url("../img/logo1.png") no-repeat scroll 0 0 transparent;
  position: relative;
  width: 255px;
  z-index: 9999999999;
}
a.link-main-logo h1{position:relative; top:0px; margin:0px; line-height:85px; text-indent:-99999px; background:url(../img/logo.png) no-repeat scroll 0 0px transparent;  height:115px;  width:305px;}
a.link-main-logo:hover{border-bottom:none;}
a.petshop{background-color:#fbbe05;padding:10px; border-radius:4px; color:#000!important;}
a.petshop:hover{background-color:#fbbe05;padding:10px!important; border-radius:4px; color:#000!important; border:none!important;}




a.petshop{background-color:#fbbe05;padding:10px!important; border-radius:4px; color:#000!important; border:none!important;}
.banner-area{}
.big-image{}
.srch-area{width:265px;}
.srch-area form ul li{list-style:none;}
.srch-area form ul li input[type="text"]{border:1px solid #e0e0e0;height:45px; width:98%; outline:none; padding: 5px 45px 5px 15px; border-radius:30px;  -webkit-border-radius:30px;outline:none;}
.form-wrapper form ul li input[type="submit"] {
  background: url("../img/icon-search.png") no-repeat scroll 0 0 transparent;
  border: medium none;
  display: inline-block;
  height: 38px;
  margin-left: -44px;
  width: 35px;
  vertical-align:middle;
}
.form-wrapper{height:36px; line-height:36px; margin-bottom:40px;}
.monthly-product-item{ border:1px solid #ebebeb; border-radius:5px; margin-bottom: 18px;}
.monthly-product-item img{border:3px solid #fff; border-radius:5px }
.monthly-product-item-wrapper p{font-size:22px; font-family: 'Abel', sans-serif; text-align:center; }
.snacks-items-area{padding-top:20px; background:url(../img/middle_content_bg.jpg) no-repeat; height:377px; background-size:100% 100%; }
.dogs-snacks, .cat-snacks, .pet-shop{width:333px;}
.dogs-snacks h2, .cat-snacks h2, .pet-shop h2{font-size:22px;font-family: 'Abel', sans-serif;  }
.post_cont{width:195px; margin-left:20px; margin-right:20px;}
.post_cont h3{margin:0px 0px 10px 0px; font-family: 'Abel', sans-serif;}
.post_cont h3 a{color:#000; font-size:20px; }
.post_cont p{color:#4f4f4f; font-size:13px; line-height:20px; font-family: 'Abel', sans-serif;}
.dogs-snacks{}
.dogs-snacks ul{margin:0px; padding:0px;}
.dogs-snacks ul li{list-style:none; margin-bottom:10px;}
.post-thumb {border-radius:10px;border:2px solid #e3e3e3; }
.post-thumb-wrapper{ border:2px solid #fff; border-radius:10px; }
.numb{position:absolute;}
.numb img {
    bottom: 35px;
    left: 40px;
    position: relative;
}
.numb small {
  bottom: 25px;
  left: 73px;
  position: relative;
  z-index: 9999;
  color:#fff;
}
.view-all-btn{width:92px; height:37px; float:right; margin-right:21px;  }
.redeem-code-btn-wrapper{width:132px; height:37px; float:right;  }

.redeem-code-btn{width:132px;height:37px; float:right; margin-right:21px;  }
.view-all {
  background-color: #00aecb;
  border: 2px solid #00aecb;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 6px 0;
  text-transform: uppercase;
  text-align: center;
}
.redeem-code-btn{
  background-color: #00aecb;
  border: 2px solid #00aecb;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 6px 0px;
  text-transform:uppercase; 
  margin-right: 0px;
  text-align:center;
}
.view-all:hover{
  background-color: #fff;
  border: 2px solid #00aecb;
  border-radius: 5px;
  color: #00aecb;
  display: block;
  font-weight: bold;
  padding: 6px 0px;
  text-decoration:none;
  text-align:center;
}

.redeem-code-btn:hover{
  background-color: #fff;
  border: 2px solid #00aecb;
  border-radius: 5px;
  color: #00aecb;
  display: block;
  font-weight: bold;
  padding: 6px 0px;
  text-decoration:none;
  text-align:center;
}
.cat-snacks{}
.cat-snacks ul{margin:0px; padding:0px;}
.cat-snacks ul li{list-style:none; margin-bottom:10px;}
.pet-shop{}
.pet-shop ul{margin:0px; padding:0px;}
.pet-shop ul li{list-style:none;margin-bottom:10px;}
.dogs-snacks h2, .cat-snacks h2, .pet-shop h2{font-family: 'Abel', sans-serif;  }
.blog-mungos-store-help-area{}
.blog-area {width:230px;}
.blog-area  ul {margin:0px; padding:0px;}
.blog-area ul li {
  list-style: none outside none;
  margin-bottom: 14px;
}
.blog-area  ul li h3{}
.blog-area  ul li h3 a{font-size:18px; color:#000;}
.blog-area  ul li h3 p{color:#5f5f5f; font-size:14px; line-height:14px;}
.blog-area h2{font-family: 'Abel', sans-serif;  font-size:26px;}
.mungos-area{width:253px; margin-right:25px;}
.mungos-area h2 {
  width: 253px;
  font-size: 22px;
}
.mungos-area h2 a{color:#4f4f4f; font-size:22px;font-family: 'Abel', sans-serif; }
.mungos-area  p{color:#4f4f4f; font-size:14px;}
.redeem-code{}
.redeem-code input[type="text"]{width:100%; padding:10px; border-radius:5px; border:none; border:2px solid #e6e6e6; margin-bottom:7px;outline:none;}
.redeem-code .view-all-btn{margin-right:0px; }
.find-store-area{width:178px; margin-right:25px;}
.find-store-area h2{font-family: 'Abel', sans-serif;  font-size:22px;}
.find-store-area select{width:100%; padding:6px; border-radius:5px; border:none; border:2px solid #e6e6e6;outline:none; }
.find-store-area select option{padding:5px; }
.get-help-area{width:244px; margin-top:20px;text-align:center;}
.get-help-area h3 {
  color: #ef9202;
  font-family: 'Abel',sans-serif;
  font-size: 22px;
  height: 50px;
  margin: -195px auto 0 90px;
  vertical-align: middle;
  width: 90px;
}
.get-help-area h3  a{
	text-decoration:none;
	color: #ef9202;
}
.get-help-area  a:hover{
	text-decoration:none!important;
	color: #ef9202;
}
.social-area{margin-top:45px; }

.dog_cat_background {

  background: url("../img/dog_cat.png") no-repeat scroll 750px 20px transparent;
  margin: 0 auto;

  width: 1150px;
}
.fb {margin-left:75px;}
.fb h4{background-color:#3b5998; }

.tw h4{background-color:#55acee; }
.inst h4{background-color:#32628a; }


.fb, .tw,.inst {width:240px;margin-right:20px; border:1px solid #e8e8e8;border-radius:5px;

	-webkit-box-shadow: 0 8px 12px -8px black;
	   -moz-box-shadow: 0 8px 12px -8px black;
	        box-shadow: 0 8px 12px -8px black;
		


}
.fb h4,.tw h4, .inst h4 {color:#fff; padding:14px 16px; border-radius:5px 5px 0px 0px;margin-top:0px;}
.fb ul, .tw ul, .inst ul {background:#fff; border-radius:0px 0px 5px 5px; margin:0px; padding: 5px 5px; }
.fb ul li img,.tw ul li img{ float:left; width:62px; vertical-align:middle;}
.fb ul li p, .tw ul li p,.inst ul li p{float:left; width:130px; font-size:13px;}
.fb ul li p small, .tw ul li p small{color:#a2a2a2; }
.fb ul li p a,.tw ul li p a {color:#4f4f4f; }
.fb ul li, .tw ul li{list-style:none;}



.inst  ul {text-align:center;}
.inst  ul li {list-style:none; display:inline-block;}
.inst  ul li img{padding:1px;}

#bottom-footer p {
  color: #94877a;
  height: 50px;
  line-height: 50px;
  margin-bottom: 0;
  text-align: center;
  
}

/*********************************
	Single  Product
*********************************/

.single-product-and-src-area{}
.single-product-and-src-wrapper{border-bottom:1px solid #e5e5e5; padding-bottom:25px;}
.product-area{width:700px;}
.product-area h2{font-size:26px; color:#000;font-family: 'Abel', sans-serif; }
.single-product-thumb{width:320px; margin-right:20px;  }
.single-product-img img{ padding:3px ; border-radius:5px;border:2px solid #ebebeb; border-radius:5px;box-sizing:border-box; }
.single-product-content{width:360px;}
.single-product-content h3{font-size:22px; color:#000;font-family: 'Abel', sans-serif; margin-top:0px;}
.single-product-content h4{font-size:20px; color:#000;font-family: 'Abel', sans-serif; margin-top:0px;}
.single-product-content p{font-size:14px; line-height:22px; color:#4f4f4f;font-family: 'Abel', sans-serif; }
.single-product-content > ul {margin:0px; padding:0px; margin-bottom:20px;}



.single-product-content > ul > li {
  background: url("../img/list-bg.png") no-repeat scroll 0 13px transparent;
  color: #4f4f4f;
  font-family: 'Abel',sans-serif;
  font-size: 14px;
  line-height: 32px;
  list-style: none outside none;
  padding-left: 15px;
}



.add-to-cart {color:#000; font-size:16px;}
.add-to-cart ul{margin:0px; padding:0px;}
.add-to-cart ul li{list-style:none; float:left; display:block; line-height:40px;}
.add-to-cart ul li:last-child{color:#00aecb; font-size:36px; }

.styled-select {margin-left:15px; margin-right:25px;}
.styled-select select {
	border:2px solid #e6e6e6; 
	padding:5px 10px;
	width:70px; 
	border-radius:5px;
	outline:none;

}

.add-to-cart-btn{background-color:#00aecb; padding:10px 25px; color:#fff; font-size:16px; margin-top:20px;} 
.add-to-cart-btn:hover{background-color:#00aecb; padding:10px 25px; color:#fff; font-size:16px; margin-top:20px;} 
.related-products{}
.related-products {color:#000; font-size:18px; margin-top:0px;}
.related-products h4 a{color:#000; font-size:18px; margin-top:0px;}
.related-products ul{margin:0px; padding:0px;}
.related-products ul li{list-style:none; margin-bottom:10px;}
.related-product-img{width:80px;  margin-right:10px; border:2px solid #ebebeb; border-radius:5px;box-sizing:border-box;}
.related-product-img img{padding:3px; border-radius:5px; }
.related-product-summary{width:175px;}
.related-product-summary p{font-size:14px; line-height:22px; color:#4f4f4f;font-family: 'Abel', sans-serif; }
.prdct-price{color:#26b4cf; }
.ingredients {width:321px; margin-right:26px; }
.ingredients h2{font-size:26px; color:#000;font-family: 'Abel', sans-serif; }
.ingredients ul{margin:0px; padding:0px; }
.ingredients ul li{
  list-style:none; 
  float:left; 
  background: url("../img/list-bg.png") no-repeat scroll 0 13px transparent;
  color: #4f4f4f;
  font-family: 'Abel',sans-serif;
  font-size: 14px;
  line-height: 32px;
  list-style: none outside none;
  padding-left: 20px;
  width:107px;

}
.ingredients ul li a{color:#4f4f4f; font-size:14px;}
.comments-form-area{width:650px;}
.comments-form-area{ }
.comments-form-area h3{font-size:26px; color:#000;font-family: 'Abel', sans-serif; margin-bottom:25px;}

.comment-form input[type="text"]{border:2px solid #e9e9e9; border-radius:5px; padding: 8px; margin-right:15px;line-height:1;outline:none; }
.comment-form input[type="radio"]{ border:2px solid #e9e9e9; border-radius:5px; padding:8px; margin-right:12px;  outline:none;}
.comment-form select{border:2px solid #e9e9e9; border-radius:5px; padding:8px;  width:240px;outline:none;}
.comment-form textarea{border:2px solid #e9e9e9; border-radius:5px; padding:8px;  width:87%;outline:none;}

.comment-form  label{width:74px;display:block; float:left; font-size:16px; color:#424242;font-weight:lighter; }
.commenter-name,.commenter-address, .city,.yr-pet {width:325px; margin-bottom:8px; line-height:40px;}


.dog,.cat{font-size:14px; display:inline-block; margin-right:30px;}
.comment-send-btn{float:right;background-color:#00aecb; color:#fff; padding:10px 30px; margin-right:15px;margin-top:10px;}
.comment-send-btn:hover{float:right;background-color:#00aecb; color:#fff; padding:10px 30px; margin-right:15px;margin-top:10px;}
.dog_cat_background{min-height:310px;}

/*********************************
	 Cart
*********************************/
.shopping-cart-lists{border:1px solid #d5d5d5; border-radius:5px;}

.shopping-cart-lists table{margin-bottom:0px;}
.shopping-cart-lists table th, td{border:none!important; 	vertical-align:middle; text-align:center;}
.shopping-cart-lists table td{padding:8px!important;  text-align:center; width:185px;text-align:center;}



.shopping-cart-lists table td:nth-child(1) {text-align:left; }
.shopping-cart-lists table th:nth-child(1) {text-align:left; }
.shopping-cart-lists table td:nth-child(3) select{margin:0 auto; }
.shopping-cart-heading h3{font-size:26px; color:#000;font-family: 'Abel', sans-serif; margin-top:0px;}
.shopping-cart-lists table th{background-color:#efefef; border-radius:5px 5px 0px 0px;  }
.product{width:305px; }
.product img{float:left; margin-right:15px; padding:3px;  border:1px solid #ebebeb; border-radius:5px;}
.product-summery{ }
.product-summery h4 { margin-top:0px; margin-bottom:10px;}
.product-summery h4 a{ color:inherit;}
.product-summery p{font-size:14px; }
.weight, .price{font-weight:bold; color:#000; vertical-align:middle; font-size:16px;}

.quantity select{border:2px solid #e9e9e9; padding:5px; width:80px;border-radius:5px; display:block; outline:none;}

.quantity{border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5; border-left:1px solid #e5e5e5; display:block;}
.total-txt{font-size:22px; color:#000;}
.total-amount{font-size:22px; color:#000;}

.buy-product-btn{background-color:#00aecb; color:#fff; padding:13px 55px; float:right; }
.buy-product-btn:hover{color:#fff; }



.our-suggestions h3{font-size:26px; color:#000;font-family: 'Abel', sans-serif; }
.our-suggestions ul{margin:0px; padding:0px; margin-left:-11px; text-align:center; }
.our-suggestions ul li{list-style:none;  float:left;margin-left:11px;  }
.our-suggestions ul li img{padding:4px; border:2px solid #ebebeb; border-radius:5px;  box-sizing:border-box; }

.our-suggestions ul li h4 a{font-size:20px; color:#000; }
.product-price{color:#00aecb; font-size:16px;}





/*********************************
	Where to Buy
*********************************/




.view-more, .go-btn {
  background-color: #00aecb;
  border: 2px solid #00aecb;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 6px 12px;
  text-transform: uppercase;
  width:110px;
  font-weight:lighter;
  float:right;
  text-align:center;
}
.go-btn:hover{
  color: #fff;  text-decoration:none;	

}

  
.view-more:hover{
	color: #fff;
	text-decoration:none;
  background-color: #fff;
  border: 2px solid #00aecb;
  border-radius: 5px;
  color: #00aecb;
  display: block;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration:none;	
	
 }
.buy-online{border:2px solid #dfdfdf; width:410px;padding:15px; border-radius:10px;margin-right:20px;}
.product-description{}
.product-description {width:274px;}
.product-description h4 {margin-top:0px; }
.product-description h4 a{color:#000;}
.product-post  img{float:left; margin-right:15px; padding:3px;  border:1px solid #ebebeb; border-radius:5px;}
.buy-online h3{font-size:20px; color:#000; font-family: 'Abel', sans-serif; width:120px; margin-top:-30px; height:25px; background-color:#fff; text-align:center; padding:0px 10px; }

.find-store{ border:2px solid #dfdfdf;  width:405px; padding:15px; border-radius:10px;}
.find-store h3{font-size:20px; color:#000; font-family: 'Abel', sans-serif; width:140px; margin-top:-30px; height:25px; background-color:#fff; text-align:center; padding:0px 10px; }
.find-store p{ width:345px; margin:0 auto; margin-bottom:25px; margin-bottom:33px; }
.find-store p small{font-size:18px; font-weight:bold; color:#000;  font-family: 'Abel', sans-serif; }
.find-store select{border:1px solid #e9e9e9; border-radius:5px; padding:10px 20px; width:100%;outline:none;  }
.fint-store-area{width:560px; }
.dog-hd {float:left; width:155px;position:relative; }
.dog-hd img{width:100%; position:absolute; right:-24px; }
.left-check-boxes ul{margin:0px; padding:0px;}
.left-check-boxes ul li{list-style:none;}
.left-check-boxes ul li input[type="checkbox"] {
  margin-bottom: 15px;
  margin-right: 12px;
}
.left-check-boxes {border:1px solid #dfdfdf; border-radius:10px; width:260px; padding:25px; margin-right:30px;  }
.left-check-boxes h4{font-size:20px; font-family: 'Abel', sans-serif;}


.address-map-area {margin-top:35px; }
.addresses{width:290px; }

.addresses img{border:1px solid #eeeeee; border-radius:5px;margin-right:15px;  }
.addresses h5 {margin-top:0px; font-size:16px; color:#000; }
.addresses p { font-size:14px; color:#4f4f4f; line-height:20px;  }
.address-content{width:190px;}
.time{display:block; }
.map img{border:1px solid #dfdfdf; border-radius:5px; }

/*********************************
	Pet shop
*********************************/
.bird-petshop { width:735px;padding-right:140px;}

.petshop-into p{text-align:center; font-size:14px; color:#4f4f4f; font-family: 'Abel', sans-serif;margin-top:25px;}
.featued-products h3{font-size:30px; color:#000; font-family: 'Abel', sans-serif; text-align:center;margin-bottom:25px; }
.featued-products ul{margin:0px; padding:0px; margin-left:-23px;}
.featued-products ul li{  list-style:none;float:left; width:227px; text-align:center; vertical-align:middle; margin-left:23px;  }

.featued-products ul li img{padding:20px 0px; }
.single-featured{ }
.single-featured .featured-product-img{ margin:3px; width:227px; background-color:#f4f9f1;text-align:center;   border:2px solid #ebf2e0; border-radius:5px;}
.featued-products h4 a{font-size:20px; font-family: 'Abel', sans-serif; color:#000;}
.contact-form{}
.contact-form h3{margin-bottom:25px; font-size:26px; color:#000; font-family: 'Abel', sans-serif; text-align:center;}
.new-pet-bg{background:url(../img/background.jpg) no-repeat;  background-size:cover;  min-width:1250px;}
.white-bg{background-color:#fff; opacity:.8; border-radius:10px; padding:25px; width:1050px; }
.getpadding{padding-top:50px;}
.contact-form{width:550px; margin:0 auto; }
.contact-form > div{margin-bottom:8px; }
.contact-form  h4{color:#000; margin:20px 0px; }
.contact-form label{width:100px; font-size:16px; font-weight:normal; float:left; line-height:47px;  }
.contact-form input[type="text"]{border:2px solid #e6e6e6; border-radius:5px; padding:10px; outline:none;}
.birth-day input{margin-right:9px;}

.contact-form textarea {
	border:2px solid #e6e6e6; 
	padding:5px 10px;
	width:69%; 
	border-radius:5px;
	outline:none;

}
.send-btn{margin-right:35px;}
.petshop-new-footer p{color:#4a5d1c!important;margin-top:80px;}
.cat-image{float:left; position:relative;}
.cat-image img {
  bottom: -108px;
  left: -155px;
  position: absolute;
}
.dog-image{float:right; position:relative; }
.dog-image img{
  bottom: -108px;
  right: -120px;
  position: absolute;

 }

.tw-share{float:right;}



.dropdown {

	display:none;
	position: absolute;
	top: 85px; 
	left: 0px;
	z-index: 999;
	
}
.toys{
background:url(../img/bropdown_bg.png) no-repeat  bottom right;
}
.main-menu-wrapper > ul > li:nth-child(2):hover .dropdown{ 
	display:block;

}



ul.dropdown{margin:0px; padding:0px; }
ul.dropdown h3{font-size:24px; color:#000; font-family: 'Abel', sans-serif; }
ul.dropdown li {
 
  line-height: 35px;
  list-style: none outside none;


}

ul.dropdown li a{ background: url("../img/black-circle.png") no-repeat scroll 0px 14px transparent; display:block; color:#4f4f4f; font-size:14px; font-family: 'Abel', sans-serif; padding-left:22px;  }
ul.dropdown li a:hover{background: url("../img/blue-circle.png") no-repeat scroll 0px 14px transparent;  color:#00aecb;  text-decoration:none;}
.dropdown-container{ border-radius:10px; padding:20px; width:830px; height:260px; background:#fff; }
.for-dogs{width:145px;  }
.for-cats{width:100px;}
.product-srch{width:350px;}

.dog-in-menu{width:133px;}
.product-srch-form {width:200px; margin-right:17px;}
.product-srch-form ul {margin:0px; padding:0px;}
.product-srch-form ul li{float:none;}
.product-srch-form ul li input{border:2px solid #e9e9e9; padding:4px 8px; border-radius:5px; outline:none;outline:none; height:45px; width:175px;}


.toys{width:195px;}
.src-btn{
	  background-color: #00aecb;
	  border: 2px solid #00aecb;
	  border-radius: 5px;
	  color: #fff;
	  display: block;
	  font-weight: bold;
	  padding: 6px 12px;
	  text-transform: uppercase;
	  width:110px;
	  font-weight:lighter;
	  float:right;
	  text-align:center;
	  margin-right:27px;
	  margin-top:20px;


}

.src-btn:hover{
  color: #fff;  text-decoration:none;	

}

