@{
    ViewBag.Title = "Brownito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single-product-and-src-area clearfix">

    <div class="single-product-and-src-wrapper clearfix structure">

        <div class="product-area floatleft">
            <h2>Productos</h2>
            <div class="single-product clearfix">
                <div class="single-product-thumb floatleft">
                    <div class="single-product-img ">
                        <img src='@Url.Content("~/Content/img/brownitos_Interna.png")' style="width:329px;height:335px;" alt="Product Image" />
                    </div>

                    <p class="tw-share">share
                        <img src="images/tw_share_btn.png" alt="" /></p>
                </div>



                <div class="single-product-content floatleft">
                    <h3>Brownitos Dogs</h3>
                    <p>
                        Deliciosos brownies tipo repostería, que llenarán de alegría el paladar de tu mejor amigo. Formulado especialmente para tu peludo. 
                    </p>
                    <p>
                        Presentaciones: 80 g - 200 g - 500 g - 1 Kg
                    </p>

                    <h4>Beneficios</h4>

                    <ul>
                        <li>In massa mi, fringilla faucibus rutrum sed</li>
                        <li>Vivamus quis sapien massaoin hendrerit nibh tempus </li>
                        <li>Fnulla ornare itae pellentesque nisi tincid.</li>
                        <li>Fusce metus felis, pharetra sit amet magna non.</li>
                    </ul>


                    <div class="add-to-cart">
                        <form action="#" name="">
                            <ul class="clearfix">
                                @*<li>Quantity</li>
                                <li>
                                    <div class="styled-select">
                                        <select name="">
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                        </select>
                                    </div>
                                </li>*@
                                <li>$5.800</li>
                            </ul>
                            @*<button class="btn add-to-cart-btn">Add to Cart</button>*@
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="srch-area floatright clearfix">
            <div class="form-wrapper ">
                <form name="" action="#">
                    <ul>
                        <li>
                            <input name="keywords" type="text" placeholder="Search..." size="34" />
                            <input type="submit" name="srch" value="" /></li>
                    </ul>
                </form>

            </div>

            <div class="related-products">
                <h3>You may also like</h3>

                <ul>
                    <li class="clearfix">
                        <div class="related-product-img floatleft">
                            <img src="images/other_product.png" alt="" />
                        </div>
                        <div class="related-product-summary floatleft">
                            <h4><a href="#">Product 1</a></h4>
                            <p>In massa mi, fringilla faucibus rutrum sed. <small class="prdct-price">$20.00</small></p>
                        </div>

                    </li>
                    <li class="clearfix">
                        <div class="related-product-img floatleft">
                            <img src="images/other_product.png" alt="" />
                        </div>
                        <div class="related-product-summary floatleft">
                            <h4><a href="#">Product 2</a></h4>
                            <p>In massa mi, fringilla faucibus rutrum sed. <small class="prdct-price">$20.00</small></p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="related-product-img floatleft">
                            <img src="images/other_product.png" alt="" />
                        </div>
                        <div class="related-product-summary floatleft">
                            <h4><a href="#">Product 3</a></h4>
                            <p>In massa mi, fringilla faucibus rutrum sed. <small class="prdct-price">$20.00</small></p>
                        </div>
                    </li>
                </ul>

            </div>


        </div>

    </div>
</div>
<!-- .single-product-and-src-area -->


<div class="ingredients_and_comment_area">
    <div class="ingredients_and_comment_wrapper clearfix structure">
        <div class="ingredients  floatleft">
            <h2>Ingredients</h2>

            <ul>
                <li><a href="">Protein</a></li>
                <li><a href="">Protein</a></li>
                <li><a href="">Protein</a></li>
                <li><a href="">Cheese</a></li>
                <li><a href="">Cheese</a></li>
                <li><a href="">Cheese</a></li>
                <li><a href="">Sugar</a></li>
                <li><a href="">Sugar</a></li>
                <li><a href="">Sugar</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="social-area clearfix">
    <div class="dog_cat_background clearfix">
    </div>
</div>
