@model Plenum.Models.PlenumPageDataModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="@Model.GetFieldValue("Metakeywords")" />
    <title>@Model.Page.Name</title>
</head>
<body>
    <div>
        Dani
        <h2>
            @Model.Page.Name
        </h2>
    </div>
</body>
</html>